{% extends "base.html" %}
{% load static %}

{% block title %}
<title>minmath - game</title>
{% endblock title %}

{% block content %}
<div id = "session">
    <div id = "math"></div>
    <input id = "math-input" tabindex = "1"/>
    <div id = "track">
        <div id = "input-status"></div>
        <div id = "score">Score: 0</div>
        <div id = "mode-status"></div>
    </div>
    <div id = "progress-bar"></div>
</div>
{% endblock content %}

{% block scripts %}
<script src = "{% static 'game-load.js' %}"></script>
<script src = "{% static 'input-validation.js' %}"></script>
<script type = "module" src = "{% static 'problem-gen.js' %}"></script>
<script type = "module" src = "{% static 'answer-check.js' %}"></script>
{% endblock scripts %}