{% extends "base.html" %}
{% load static %}

{% block content %}
<div id = "session">
    <div id = "math"></div>
    <input id = "math-input"/>
    <div id = "track">
        <div id = "input-status"></div>
        <div id = "score">Score: 0</div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src = "{% static 'focus.js' %}"></script>
<script type = "module" src = "{% static 'problem-gen.js' %}"></script>
<script type = "module" src = "{% static 'answer-check.js' %}"></script>
{% endblock scripts %}