<!DOCTYPE html>
<html>
	<head>
		<title>Mathoughtical</title>
		<link rel = "stylesheet" type = "text/css" href = "">
		<meta charset = "UTF-8">
	</head>
	<body>
	<div id = "container">
		<div id = "intro">
		<div id = "menu">
			<h1 id = "name-header">mathoughtical</h1>
			<div id  = "submenu">
				<div id = "about" class = "menu-button">about</div>
				<div id = "leaderboards" class = "menu-button">leaderboards</div>
				<div id = "account" class = "menu-button">account</div>
			</div>
		</div>
		<div id = "mid">
			<div id = "math-pg" class = "page" style = "display: grid">
				<div id = "problem"></div>
			</div>
			<div id = "about-pg" class = "page" style = "display: none">
				<p style = "display: inherit; justify-items: center">Mathoughtical is a minimalistic mental math site with simplicity in mind.
				</p>
			</div>
			<div id = "ldboard-pg" class = "page" style = "display: none">
				<p style = "display: inherit; justify-items: center">Coming Soon</p>
			</div>
			<div id = "account-pg" class = "page" style = "display: none">
				<p style = "display: inherit; justify-items: center">Coming Soon</p>
			</div>
		</div>
		</div>
	</div>
	</body>
</html>