{% extends "base.html" %}
{% load static %}

{% block content %}
<div id = "mode-bar">
    <div id = "add-btn" class = "mode-button" onclick = "select_mode(this.id)">add</div>
    <div id = "sub-btn" class = "mode-button" onclick = "select_mode(this.id)">subtract</div>
    <div id = "mul-btn" class = "mode-button" onclick = "select_mode(this.id)">multiply</div>
    <div id = "time-btn" class = "mode-button" onclick = "select_mode(this.id)">timed</div>
    <div id = "streak-btn" class = "mode-button" onclick = "select_mode(this.id)">streak</div>
</div>
<div id = "session">
    <div id = "math"></div>
    <input id = "math-input"/>
    <div id = "track">
        <div id = "input-status"></div>
        <div id = "score">Score: 0</div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src = "{% static 'focus.js' %}"></script>
<script type = "module" src = "{% static 'problem_generator.js' %}"></script>
<script type = "module" src = "{% static 'answer_check.js' %}"></script>
<script src = "{% static 'mode_select.js' %}"></script>
{% endblock scripts %}