<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>minmath</title>
		<link rel = "stylesheet" type = "text/css" href = "{% static 'main.css' %}">
		<meta charset = "UTF-8">
	</head>
	<body>
        <div id = "container">
            <div id = "intro">
            <div id = "menu">
                <h1 id = "name-header" class = "menu-button">minmath</h1>
                <div id = "submenu">
                    <div id = "about" class = "menu-button">about</div>
                    <div id = "leaderboards" class = "menu-button">leaderboards</div>
                    <div id = "account" class = "menu-button">account</div>
                </div>
            </div>
            <div id = "mid">
                <div id = "math">
                    minmath
                </div>
            </div>
            </div>
        </div>
	</body>
</html>