{% extends "base.html" %}
{% load static %}

{% block title %}
<title>minmath - info</title>
{% endblock title %}

{% block content %}
<div class = "about">
    <p>
        Minmath is a minimalist mental math website
        that was gradually developed over time to fulfill my own wants in a mental math web app.
        In the past, I would scavenge the internet for the best sites for developing my mental math skills - something clean and easy to use.
        While there were a few good ones out there, none exactly matched what I had in mind.
        <br>
        <br>
        This is my earnest attempt at addressing these desires.
        <br>
        Hope you enjoy!
    </p>
</div>
{% endblock content %}