{% extends "base.html" %}
{% load static %}

{% block title %}
<title>minmath - info</title>
{% endblock title %}

{% block content %}
<div class = "about" style = "text-align: left">
    <h3>about</h3>
    minmath is a minimalist mental math website created with love by Micah McCollum.
    <h3>contact</h3>
    <h3>problem generation</h3>
    Problems are generated according to their operations and operand value ranges.
    Subtraction and division will reverse the ranges to ensure that answers are nonnegative integers.
    <br>
    <br>
    There are no division problems that contain zero to avoid division-by-zero errors.
    In this event, a random mode is selected and replaced for that problem.
</div>
{% endblock content %}