{% extends "base.html" %}
{% load static %}

{% block content %}
<div id = "about">
    {% if user.is_authenticated %}
    Welcome back, <i>{{user.username}}</i>! 
    Your record is <i>{{user.personal_best}}</i>.
    {% else %}
    Welcome to minmath - a minimalist mental math game.
    {% endif %}
    <br>
    Challenge yourself to solve as many problems as you can!
</div>

<div class = "mode-wrapper">
    <div id = "first" class = "mode-bar">
        <button id = "add" class = "mode-button md1" onclick = "modeParse(this.id)">add</button>
        <button id = "sub" class = "mode-button md1" onclick = "modeParse(this.id)">subtract</button>
        <button id = "mult" class = "mode-button md1" onclick = "modeParse(this.id)">multiply</button>
        <button id = "divd" class = "mode-button md1" onclick = "modeParse(this.id)">divide</button>
        <div class = "mode-button separator">|</div>
        <button id = "timed" class = "mode-button md2" onclick = "modeParse(this.id)">timed</button>
        <button id = "norm" class = "mode-button md2" onclick = "modeParse(this.id)">endless</button>
    </div>
    <div id = "second">
        <span class = "mode-bar">
            <input class = "custom-input range">
            to
            <input class = "custom-input range">
            <div class = "mode-button separator">|</div>
            <input class = "custom-input range">
            to
            <input class = "custom-input range">
        </span>
        <span class = "mode-bar">
            <div>duration:</div>
            <select id = "duration" class = "mode-button" onchange = "selectTime(this.value)">
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="60">60</option>
                <option value="90">90</option>
                <option value="120">120</option>
                <option hidden value="inf">∞</option>
            </select>
        </span>
    </div>
</div>

<a class = "start-button" href = "{% url 'solve:game' %}">start</a>
{% endblock content %}

{% block scripts %}
<script src = "{% static 'mode-select.js' %}"></script>
{% endblock scripts %}