{% extends "base.html" %}
{% load static %}

{% block content %}
<div id = "about">
    Welcome to minmath, a minimalist mental math website created by Micah McCollum.
    <br>
    Set your options and challenge yourself to solve as many math problems as possible.
</div>

<div id = "mode-bar">
    <div id = "add" class = "mode-button" onclick = "select_mode(this.id)">add</div>
    <div id = "sub" class = "mode-button" onclick = "select_mode(this.id)">subtract</div>
    <div id = "mult" class = "mode-button" onclick = "select_mode(this.id)">multiply</div>
    <div id = "divd" class = "mode-button" onclick = "select_mode(this.id)">divide</div>
    <div class = "mode-button separator">|</div>
    <div id = "norm" class = "mode-button" onclick = "select_mode(this.id)">normal</div>
    <div id = "time" class = "mode-button" onclick = "select_mode(this.id)">timed</div>
    <div id = "streak" class = "mode-button" onclick = "select_mode(this.id)">streak</div>
</div>

<a class = "start-button" href = "{% url 'solve:game' %}">Start</a>
{% endblock content %}

{% block scripts %}
<script src = "{% static 'focus.js' %}"></script>
<script type = "module" src = "{% static 'problem_generator.js' %}"></script>
<script type = "module" src = "{% static 'answer_check.js' %}"></script>
<script src = "{% static 'mode_select.js' %}"></script>
{% endblock scripts %}