<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>minmath</title>
		<link rel = "stylesheet" type = "text/css" href = "{% static 'main.css' %}">
		<meta charset = "UTF-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
	</head>
	<body>
        <div id = "container">
            <div id = "intro">
            <div id = "menu">
                <a id = "name-header" class = "menu-button" href="">{{sitename}}</a>
                <div id = "submenu">
                    <a id = "about" class = "menu-button" href="">about</a>
                    <a id = "leaderboards" class = "menu-button" href="{% url 'leaderboards:index' %}">leaderboards</a>
                    <a id = "settings" class = "menu-button" href="">settings</a>
                    <a id = "account" class = "menu-button" href="{% url 'account:index' %}">account</a>
                </div>
            </div>
            {% block content %}
            {% endblock content %}
            </div>
        </div>
    <script src = "{% static 'focus.js' %}"></script>
    <script type = "module" src = "{% static 'problem_generator.js' %}"></script>
    <script type = "module" src = "{% static 'answer_check.js' %}"></script>
	</body>
</html>