{% extends "base.html" %}
{% load static %}

{% block title %}
<title>minmath - profile</title>
{% endblock title %}

{% block content %}
<div>
    <h4>{{user.username}}'s Statistics</h4>
    <canvas id = "recent-games-plot" width = "600" height = "300"></canvas>
    <br>
    Games Played: {{total_games}}
    <br>
    Problems Solved: {{total_problems}}
    <br>
    Highest Score: {{highest_score}} in {{time_of_highest_score}}s
    <br>
    Fastest Score: {{fastest_score}} in {{time_of_fastest_score}}s
    <br>
    Most Active Day: {{most_active_day}}
    <br>
    Most Active Month: {{most_active_month}}
    <br>
    Last Active: {{last_active}}
</div>
{% endblock content %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.4/dist/chart.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2 "></script>
<script src = "{% static 'plot.js' %}"></script>
{% endblock scripts %}