:root {
    --bg: #2B3856; 
    --sheet: #242F48;
    --txt: white;
    --accent: gold;
    --hili: silver;
    --shadow: black;
    --font: "Inter", sans-serif;
}

body {
    display: grid;
	background-color: var(--bg);
	font-family: var(--font);
	font-size: 16px;
	color: var(--txt);
}

a {
    color: inherit;
}

#menu {
    z-index: 999;
    position: relative;
    max-width: 1000px;
    margin: auto;
    padding: 0px;
    display: flex;
    text-align: center;
    justify-content: left;
    align-items: center;
} 

#name-header {
    font-size: 36px;
    user-select: none;
    transition: color .2s ease-in;
}

#name-header:hover {
    box-shadow: inherit;
    color: var(--accent);
}

#submenu {
    display: flex;
    text-align: center;
    justify-content: right;
    align-items: center;
    font-size: 16px;
    flex-grow: 1;
}

.menu-button {
    font-family: var(--font);
    text-decoration: none;
    user-select: none;
    margin: 12px;
    padding: 2px;
    transition: all .2s ease;
}

.menu-button:hover {
    box-shadow: 0px 2px 0px 0px var(--hili);
}

#mid {
    display: grid;
    background-color: var(--sheet);
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 32px 12px 32px 12px;
    margin: auto;
    max-width: 1000px;
    /* min-height: 500px; */
    border-radius: 4px;
    box-shadow: var(--shadow) 1px 3px 5px;
}

#about {
    word-break: normal;
    inline-size: 500px;
}

#mode-bar {
    display: flex;
    background-color: var(--bg);
    border-radius: 4px;
    box-shadow: var(--shadow) 0px 1px 3px;
    padding: 8px;
    margin: 16px;
}

.mode-button {
    background: none;
    color: var(--txt);
    font-size: 16px;
    margin: 4px;
    padding: 4px;
    user-select: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all .1s ease;
}

.mode-button:hover {
    background-color: var(--sheet);
}

.separator {
   cursor: none;
   pointer-events: none; 
}

#session {
    margin: 12px;
    padding: 12px;
}

#track {
    margin: 12px;
    padding: 12px;
}

#math {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 12px;
    pointer-events: none;
    user-select: none;
    font-size: 24px;
}

#math-input {
    all: unset;
    width: 25%;
    font-size: 24px;
    text-align: center;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: all .2s ease;
}

#math-input:focus {
    caret-color: var(--accent);
    box-shadow: 0px 2px 0px 0px var(--shadow);
}

#input-status {
    padding: 12px;
    pointer-events: none;
    user-select: none;
    transition: color .5s ease-out;
}

#score {
    padding: 12px;
    pointer-events: none;
    user-select: none;
    transition: color .2s ease;
}

.acc-btn {
    height: 36px;
    width: 144px;
    font-family: var(--font);
    font-size: 16px;
    color: var(--txt);
    background-color: var(--bg);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px var(--shadow);
    outline: none;
    transition: all .2s ease;
}

.acc-btn:hover {
    color: var(--bg);
    background-color: var(--hili);
}