:root {
    --bg: #2B3856; 
    --sheet: #242F48;
    --txt: #ffffff;
    --accent: #ffd700;
    --hili: #c0c0c0;
    --font: "Inter", sans-serif;
}

body {
    display: grid;
	background-color: var(--bg);
	font-family: var(--font);
	font-size: 16px;
	color: var(--txt);
}

a {
    color: inherit;
}

#menu {
    z-index: 999;
    position: relative;
    max-width: 1000px;
    margin: auto;
    padding: 0px;
    display: flex;
    text-align: center;
    justify-content: left;
    align-items: center;
} 

#name-header {
    font-size: 36px;
    user-select: none;
    transition: color .15s ease-in;
}

#name-header:hover {
    box-shadow: inherit;
    color: var(--accent);
}

#submenu {
    display: flex;
    text-align: center;
    justify-content: right;
    align-items: center;
    font-size: 16px;
    flex-grow: 1;
}

.menu-button {
    display: flex;
    font-family: var(--font);
    text-decoration: none;
    user-select: none;
    margin: 12px;
    padding: 0px;
    height: 50%;
    border-radius: 4px;
    transition: all .15s ease;
}

.logx-button {
    justify-content: right;
}

#mid {
    display: grid;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 32px 12px 32px 12px;
    margin: auto;
    max-width: 1000px;
    /* min-height: 500px; */
    border-radius: 8px;
}

#about {
    word-break: normal;
    inline-size: 500px;
}

.mode-bar {
    display: flex;
    background-color: var(--sheet);
    border-radius: 8px;
    padding: 8px;
    margin: 16px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    user-select: none;
}

.mode-button {
    background: none;
    color: var(--txt);
    font-size: 16px;
    margin: 4px;
    padding: 4px;
    user-select: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: color .15s ease;
}

.mode-button:hover {
    color: var(--hili);
}

.start-button {
    display: flex;
    background-color: var(--sheet);
    border-radius: 4px;
    padding: 8px;
    margin: 16px;
    text-decoration: none;
    user-select: none;
    transition: all .2s ease;
}

.range {
    border: none;
    border-radius: 4px;
    width: 24px;
    margin: 0px 8px 0px 8px !important;
    text-align: center;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: all .15s ease;

}

.start-button:hover {
    box-shadow: var(--accent) 0px 2px 0px;
    transform: translate(0px, -1px);
}

.separator {
   cursor: none;
   pointer-events: none; 
}

#session {
    margin: 12px;
    padding: 12px;
    background-color: var(--sheet);
    border-radius: 8px;
}

#track {
    margin: 12px;
    padding: 12px;
}

#math {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 12px;
    pointer-events: none;
    user-select: none;
    font-size: 24px;
}

#math-input {
    all: unset;
    width: 25%;
    font-size: 24px;
    text-align: center;
    justify-content: center;
    align-items: center;
    user-select: none;
    padding: 8px;
    transition: all .15s ease;
}

#math-input:focus {
    caret-color: var(--accent);
}

#input-status {
    padding: 12px;
    pointer-events: none;
    user-select: none;
    transition: color .5s ease-out;
}

#score {
    padding: 12px;
    pointer-events: none;
    user-select: none;
    transition: color .15s ease;
}

.acc-button {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 4px;
    font-family: var(--font);
    font-size: 16px;
    color: var(--txt);
    background-color: var(--sheet);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    outline: none;
    transition: all .15s ease;
}

a.acc-button {
    text-decoration: none;
    padding: 4px;
}

button.acc-button {
    padding: 4px;
}

.acc-button:hover {
    color: var(--sheet);
    background-color: var(--hili);
}

#footer {
    position: fixed;
    bottom: 0;
    margin: 12px;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transition: all .15s ease;
}

#footer:hover {
    background-color: var(--hili);
}

#login-form {
    display: grid;
    background-color: var(--sheet);
    border-radius: 8px;
    margin: 12px;
    padding: 12px;
    text-align: center;
    justify-content: left;
    align-items: left;
}

.form-field {
    display: grid;
    padding: 8px;
}

.field-wrapper {
    margin: 4px;
    padding: 4px;
}

.custom-input {
    border: none;
    border-radius: 4px;
    height: 24px;
    margin: 4px;
    padding: 4px;
    background-color: var(--bg);
    color: var(--txt);
    outline-width: 0px;
    transition: outline-width .1s ease;
}

.custom-input:focus {
    outline-offset: 2px;
    outline-width: 1.5px;
    outline-style: solid;
    outline-color: var(--accent);
}

.mode-wrapper {
    display: grid;
    justify-items: center;
}

#second {
    display: flex;
}

#duration {
    text-align: center;
    padding: 0px;
    transition: box-shadow .15s ease;
}

#intro {
	opacity: .5;
	transition: opacity  0.25s ease-in;
}

#intro.fadein {
	opacity: 1;
	}

#progress-bar {
    visibility: hidden;
    border-radius: 4px;
    height: 2px;
    width: 100%;
    opacity: .75;
    background-color: var(--accent);
    transition: width .25s ease;
}

.active {
    color: var(--accent);
}

.icon {
    width: 24px;
    height: 24px;
    padding: 8px;
    border-radius: 4px;
    transition: transform .15s ease;
}

.icon:hover {
    transform: translateY(-0.5px);
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(60deg) brightness(100%) contrast(100%);
}