:root {
    --bg: #2B3856; 
    --txt: white;
    --name-hov: gold;
    --hili: silver;
    --shadow: black;
}

body {
    display: grid;
	background-color: var(--bg);
	font-family: sans-serif;
	font-size: 16px;
	color: var(--txt);
}

a {
    color: inherit;
}

#menu {
    z-index: 999;
    max-width: 1000px;
    margin: auto;
    padding: 0px;
    display: flex;
    text-align: center;
    justify-content: left;
    align-items: center;
} 

#name-header {
    font-size: 36px;
    user-select: none;
    transition: color .2s ease;
}

#name-header:hover {
    box-shadow: inherit;
    color: var(--name-hov);
}

#submenu {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.menu-button {
    font-family: sans-serif;
    text-decoration: none;
    user-select: none;
    margin: 10px;
    padding: 2px;
    transition: all .2s ease;
}

.menu-button:hover {
    box-shadow: 0px 2px 0px 0px var(--hili);
    color: var(--hili);
}

#mid {
    display: grid;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px var(--shadow);
}

#math {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    pointer-events: none;
    user-select: none;
    font-size: 24px;
}

#math-input {
    all: unset;
    width: 50%;
    font-size: 24px;
    text-align: center;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: all .2s ease-in;
}

#math-input:focus {
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px var(--shadow);
}

#input-status {
    font-family: sans-serif;
    padding: 10px;
    pointer-events: none;
    user-select: none;
    transition: color .5s ease-out;
}

#score {
    padding: 10px;
    pointer-events: none;
    user-select: none;
}

.acc-btn {
    height: 36px;
    width: 144px;
    font-family: sans-serif;
    font-size: 16px;
    color: var(--txt);
    background-color: var(--bg);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px var(--shadow);
    outline: none;
    transition: all .2s ease;
}

.acc-btn:hover {
    color: var(--bg);
    background-color: var(--hili);
}