body {
    display: grid;
	background-color: #2B3856;
	font-family: "IBM Plex Mono Light";
	font-size: 16px;
	color: white;
}

a {
    color: inherit;
}

#menu {
    z-index: 999;
    max-width: 1000px;
    margin: auto;
    padding: 0px;
    display: flex;
    text-align: center;
    justify-content: left;
    align-items: center;
} 

#name-header {
    font-size: 36px;
    user-select: none;
    transition: color 0.2s ease;
}

#name-header:hover {
    color: gold;
}

#submenu {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.menu-button {
    font-family: sans-serif;
    text-decoration: none;
    user-select: none;
    margin: 10px;
    padding: 2px;
    transition: color 0.2s ease;
}

.menu-button:hover {
    color: silver;
}

#mid {
    display: grid;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 10px;
}

#math {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    pointer-events: none;
    user-select: none;
    font-size: 24px;
}

#math-input {
    all: unset;
    width: 50%;
    font-size: 24px;
    text-align: center;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: all .2s ease-in;
}

#math-input:focus {
    box-shadow: 1px 1px 1px 1px black;
}

#input-status {
    font-family: sans-serif;
    padding: 10px;
    pointer-events: none;
    user-select: none;
    transition: color .5s ease-out;
}

#score {
    padding: 10px;
    pointer-events: none;
    user-select: none;
}