body {
    display: grid;
	background-color: #2B3856;
	font-family: "IBM Plex Mono Light";
	font-size: 16px;
	color: white;
}

a {
    color: inherit;
}

#menu {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#name-header {
    font-size: 36px;
    transition: color 0.2s ease-out;
}

#name-header:hover {
    color: gold;
}

#submenu {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.menu-button {
    text-decoration: none;
    user-select: none;
    margin: 10px;
    padding: 2px;
    transition: color 0.2s ease-out;
}

.menu-button:hover {
    color: silver;
}

#mid {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#math {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 24px;
}

#math-input {
    all: unset;
    font-size: 24px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#input-status {
    padding: 10px;
    transition: color .5s ease-out;
}