body {
    display: grid;
	background-color: #2B3856;
	font-family: "IBM Plex Mono Light";
	font-size: 16px;
	color: white;
}

a {
    color: inherit;
}

#menu {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#name-header {
    font-size: 36px;
}

#submenu {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.menu-button {
    text-decoration: none;
    padding: 10px;
}

#mid {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#math {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
                
}

#math-input {
    text-align: center;
    justify-content: center;
    align-items: center;
}